<div class="container-fluid" >
    
    <div class="row mt-3">
        <div class="col-md-3 col-sm-6" *ngFor="let seat of booking">
            <div class="card">
                <div class="card-head" id="border">
                <img src="assets/a.jpg" class="card-img-top">
                </div>
                <div class="card-body " id="body" >
                    <h5 class="card-title text-center">Booking Details </h5>
                    <br>
                    <p class="card-text">Selected seats : {{seat.seats}}</p>
                    <p class="card-text">Number of Seats : {{seat.numberOfSeat}}</p>
                    <p class="card-text">Total Amount : {{seat.amount}}</p>
                    <p class="card-text">Selected Time : {{seat.time}}</p>
                    <p class="card-text">Selected Theatre : {{seat.theatre}}</p>
                    <p class="card-text">Selected Date : {{seat.date}}</p>
                </div>
        
            </div>
        </div>
    </div>
    <br>
    <div class="text-center"> 
        <button class="btn btn-danger" routerLink="/home" > Go Back
        </button>
    </div>

</div>